*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(bg_image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar img{
    height: 20vh;
    width: 10%;   
}

.content{
    width: 100%;
    position: absolute;
    top: 65%;
}

.bottom-col {
    margin-left: 20%;
}

.bottom-col h1{
    font-size: 50px;
    color: azure;
    float: left;
}

.content_2{
    width: 100%;
    position: absolute;
    top: 30%;
}
.top-col{
    margin-left: 20%;
    margin-top: 5px;
    display: flex;
}
.top-col img{
    height: 20vh;
    width: 10%;
}
.top-col p{
    font-size: 20px;
    color: azure;
    font-weight: 300;
    margin-right: 15px;
}


/*for mobiles*/
@media (max-width:768px){
    .container{
        
        background-image: url(bg_image.png);
        
        position: relative;
    }
    
    .navbar img{
        height: 20vh;
        width: 20%;   
    }
    
    .content{
        width: 100%;
        position: absolute;
        
    }
    
    .bottom-col {
        margin-left: 5%;
    }

    .content_2{
        width: 100%;
        position: absolute;
        
    }
    .top-col{
        margin-left: 10%;
        margin-top: 5px;
        display: flex;
    }
    .top-col img{
        height: 50px;
        width: 10%;
    }
    .top-col p{
        font-size: 20px;
        color: azure;
        font-weight: 300;
        margin-left: 10px;
    }
    
}


/*for tablet and ipad*/
@media (min-width: 769px) and (max-width:1023px){
    .top-col img{
        height: 10vh;
        width: 10%;
    }
}
